<!-- <div class="main-container">
  <div class="account-page-form-box">
    <h1 class="sign-title">Create place Facility</h1>
    <%#= simple_form_for [@place, @place_facility] do |f| %>
      <%#= p.error_notification %>
      <%#= p.error_notification message: p.object.errors[:base].to_sentence if p.object.errors[:base].present? %>

      <div class="form-inputs">
        <p><%#= f.association :facility %></p>
      </div>

      <div class="form-actions mt-5">
        <%#= f.button :submit, :class => 'account-submit' %>
        <%#= link_to 'Cancel', places_path, :class => 'no-decor-color' %>
      </div>
    <%# end %>

  </div>
</div>
 -->
