// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// Nappies
$nappies: #9ac4c1;
$nappies-light: #9ac4c180;
$nappies-dark: #6d9a97;
$nappies-warning:#ff2222;
$nappies-warning-light:#f95656;


// Grey Scale
$darkgrey: hsl(0, 0%, 13%);
$normalgrey: hsl(0, 0%, 45%);
$lightgrey: hsl(0, 0%, 90%);
$s-lightgrey: hsl(0, 0%, 98%);

