// Import Google fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
// Define fonts for body and headers
$body-font: 'Roboto', sans-serif;

// FONT WEIGHT
$heavy-fw: 700;
$light-fw: 300;

// FONT SIZE
$f-base: 1rem;
$f-med: 1.5rem;
$f-lg: 2rem;


// BORDER RADIUS
$border-radius-lg: 5px;
$border-radius:    4px;
$border-radius-sm: 3px;

// Spacers:
$space-sm: 0.5rem; //Change only this value
$space-med: 2 * $space-sm; // DO NOT CHANGE
$space-lg: 4 * $space-sm; // DO NOT CHANGE
