// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap');

// Define fonts for body and headers
$body-font: "Roboto", "Helvetica", "sans-serif";

// FONT WEIGHT
$heavy-fw: 700;
$light-fw: 400;

// FONT SIZE
$f-base: 1rem;
$f-med: 1.5rem;
$f-lg: 2rem;


// BORDER RADIUS
$border-radius-lg: 5px;
$border-radius:    4px;
$border-radius-sm: 3px;

// Spacers:
$space-sm: 0.5rem; //Change only this value
$space-med: 2 * $space-sm; // DO NOT CHANGE
$space-lg: 3 * $space-sm; // DO NOT CHANGE
