// MOBILE
html {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

* {
  padding: 0px;
  margin: 0px;
}

*, *:before, *:after{
  box-sizing: inherit;
  -webkit-box-sizing: inherit;
}

*:focus {
  outline: none;
  box-shadow: none !important;
}

body {
  font-size: 16px !important;
  background-color: white;
  font-family: $body-font;
  font-weight: 400;
  line-height: 1.5;
  color: $black;
  letter-spacing: 0.05rem;
  border-color: $lightgrey !important;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.17em;
}

h4 {
  font-size: 1.12em;
}

h5 {
  font-size: .83em;
}

h6 {
  font-size: .75em;
}

.mr-auto {
  margin-right: auto;
}

.ml-auto {
  margin-left: auto;
}

.nappies-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10vh;
  position: relative;
}

// DEVISE
.edit-account {
  margin-bottom: 50px;
}

.form-box {
  width: 100% !important;
  margin: 0px auto;
}

.account-page-form-box {
  width: 100% !important;
  margin: 0px auto;
}

.form-inputs-box {
  margin-bottom: 1rem !important;
}

.sign-submit {
  color: #9ac4c1;
  border: 5px solid;
  border-radius: 5px;
  width: 100%;
}

.sign-title{
  font-size: 1.5rem !important;
}

.account-submit {
  margin-bottom: 1rem;
}

// DESKTOP
@media only screen and (max-width: 575px) {
  body {
    font-size: 18px;
  }
}
