<%= simple_form_for(@type) do |t| %>

  <div class="form-inputs">
    <p><%= t.input :name %></p>
  </div>

  <div class="form-actions mt-5">
    <%= link_to 'Cancel', types_path, :class => 'btn-n btn-n-secondary mr-auto' %>
    <%= t.button :submit, :class => 'btn-n btn-n-primary' %>
  </div>
<% end %>
