<div class="form-container">
  <div class="account-page-form-box">
      <!-- <div class="place-card-details"> -->
        <h1 class="mt-5 mb-5">Type of places</h1>
        <% @types.each do |t| %>
          <p class="card-type mb-3">
            - <strong><%= t.name %></strong>
            / <%= link_to 'Edit', edit_type_path(t), :class => 'no-decor' %>
            / <%= link_to "✖️", t, method: :delete, data: {confirm: "Are you sure?"} %>
          </p>
        <% end %>
        <h4 class="mt-5 mb-5"><%= link_to 'Create Type', new_type_path, :class => 'no-decor-color' %></h4>
      <!-- </div> -->
  </div>
</div>
