<div class="main-container">
  <div class="index-container">
    <div class="index-cards">
      <div class="sub-container">
        <div class="place-card-details">
          <h1 class="show-title mb-5">Type of places</h1>
          <% @types.each do |t| %>
            <p class="card-type mb-3">- <%= t.name %> / <%= link_to '(Edit)', edit_type_path(t), :class => 'no-decor-color' %></p>
            <p></p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <h2 class="mt-5"><%= link_to 'Create Type', new_type_path, :class => 'no-decor' %></h2>
</div>
