<div class="footer">
  <div class="footer-copyright">
    <p>© 2020 NAPPIES</p>
    <!-- <p>Made in Berlin</p> -->
    <!-- <p><a class="no-decor" target="_blank" href="mailto:nappiesapp@gmail.com">Contact</a></p> -->
  </div>
  <div class="footer-terms">
    <p>Privacy</p>
    <p>Terms</p>
  </div>
  <div class="footer-links">
    <a href="https://www.instagram.com/nappiesapp/" target="_blank"><p><i class="fab fa-instagram"></i></p></a>
    <a href="#"><p><i class="fab fa-facebook"></i></p></a>
    <a href="#"><p><i class="fab fa-twitter"></i></p></a>
  </div>
</div>
