<div class="footer">
  <div class="footer-copyright">
    <p>© 2020 NAPPIES</p>
    <p class="dot">.</p>
    <p>Made in Berlin</p>
    <!-- <p>Privacy Policy .</p>
    <p>Term of Use .</p>
    <p>Sitemap</p> -->
  </div>
  <div class="footer-links">
    <a href="https://www.instagram.com/nappiesapp/"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
  </div>
</div>
