<div class="footer">
  <div class="footer-copyright">
    <div>© 2020 NAPPIES</div>
    <!-- <p>Made in Berlin</p> -->
    <!-- <p><a class="no-decor" target="_blank" href="mailto:nappiesapp@gmail.com">Contact</a></p> -->
  </div>
  <div>
    <%= link_to 'Privacy Policy', privacy_path, class: "no-decor-color" %>
    <%= link_to 'Terms & Conditions', terms_path, class: "no-decor-color" %>
    <%= link_to 'Cookies', cookies_path, class: "no-decor-color" %>
  </div>
  <div class="footer-links">
    <a class="no-decor-color" href="https://www.instagram.com/nappiesapp/" target="_blank"><i class="fab fa-instagram"></i></a>
    <a class="no-decor-color" href="#"><i class="fab fa-facebook"></i></a>
    <a class="no-decor-color" href="#"><i class="fab fa-twitter"></i></a>
  </div>
</div>
