<div class="search">

    <%= form_tag(places_path, method: :get, class: "search-form") do %>
      <div class="search-box">
        <div class="search-input">
          <%= text_field_tag :search, params[:search],
            class: "search-input form-control placeholder-search",
            placeholder: "Try 'Berlin'"%>
          <%= select_tag(:type_id, options_for_select(@types_array, disable: [["Select Type", 0]]), class: "type-selection") %>
          <%= submit_tag "🔎", class: "search-submit btn-search"  %>
        </div>
        <div class="search-submit"></div>
      </div>
    <% end %>

</div>
