<div class="search">

  <%# if user_signed_in? %>
    <%= form_tag places_path, class: "search-form", method: :get do %>
      <div class="search-box">
        <div class="search-input">
          <%= text_field_tag :search,
            params[:search],
            class: "search-input form-control placeholder-search",
            placeholder: "Try 'Berlin'"%>
          <%= submit_tag "🔎", class: "search-submit btn-search"  %>
        </div>
        <div class="search-submit"></div>
      </div>
    <% end %>

  <%# else %>
    <%#= form_tag new_user_session_path, class: "search-form", method: :get do %>
      <!-- <div class="search-box">
        <div class="search-input"> -->
          <%#= text_field_tag :search,
            params[:search],
            class: "search-input form-control placeholder-search",
            placeholder: "Try 'Berlin'"%>
          <%#= submit_tag "🔎", class: "search-submit btn-search"  %>
        <!-- </div>
        <div class="search-submit"></div>
      </div> -->
    <%# end %>
  <%# end %>

</div>
