<div class="search-mobile">
  <button class="search-button-navbar"><i class="fas fa-search"></i></button>
  <button class="search-button-x"><i class="fas fa-times"></i></button>
  <div class="search-form-mobile">
    <%= form_for :search, url: places_path, class: "search-form form-container", method: :get do %>
      <div class="search-box-mobile">
          <%= text_field_tag :query, params[:query],
            class: "search-input-mobile",
            placeholder: "City, place name, type..."%>
        <%= select_tag "facility", options_for_select(['Facility',
                  'Changing Table',
                  'Toy',
                  'High Chair',
                  'Play Area']), class: "select2 search-select-mobile" %>
        <div class="search-popup-footer">
          <button type="submit" class="search-submit-navbar"><i class="fas fa-search"></i> search</button>
          <!-- <button class="search-submit-navbar cancel-button">Close</button> -->
        </div>
      </div>
    <% end %>
  </div>
</div>
