<div class="nappies-container">
  <div class="cookies-box">
    <div>
      <h1>Cookie policy</h1>

      <br>

      <p>This cookie policy (&quot;Policy&quot;) describes what cookies are and how Website Operator (&quot;Website Operator&quot;, &quot;we&quot;, &quot;us&quot; or &quot;our&quot;) uses them on the <strong><a class="no-decor-color" target="_blank" rel="nofollow" href="https://www.nappiesapp.com">nappiesapp.com</a></strong> website and any of its products or services (collectively, &quot;Website&quot; or &quot;Services&quot;).</p>
      <br>
      <p>You should read this Policy so you can understand what type of cookies we use, the information we collect using cookies and how that information is used. It also describes the choices available to you regarding accepting or declining the use of cookies.</p>
    </div>

    <br>

    <div>
      <p><strong>This document was last updated on July 8, 2020</strong></p>
    </div>
  </div>
</div>
