<div class="nappies-container">
  <div class="about">Nappies, <br> the right place to find baby-friendly cafes and restaurants to hangout with your little one in the city.</div>

  <!-- <br>
  <br>

  <br>
  <br>

  <p>Founder,</p>

  <p>Nova Togatorop</p> -->
</div>
