<div class="nappies-container">
  <div class="cookies-box">
    <div>
      <div class="about">This is the right place to find baby-friendly cafes and restaurants to hangout around the city with your little one.</div>

      <br>
      <br>

      <!-- <h1>And</h1> -->

      <br>
      <br>

      <p>Founder,</p>

      <p>Nova Togatorop</p>

    </div>
  </div>
</div>
