<!-- <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)))"> -->
<div class="banner">
  <div class="title">Have less worry going out with your little one</div>
</div>
