<div class="nappies-container">
  <div class="response">
  <!-- <div class="response d-flex flex-column"> -->
      <h1>Thanks for your message!!</h1>
      <!-- <p class="mt-4">Nappies team will get back to you soon.</p> -->
    </div>
</div>
