.alert {
  width: 97.7% !important;
  position: fixed;
  top: 67px;
  right: .5%;
  z-index: 1000;
  color: $darkgrey;
}

.alert-info {
  background-color: $s-lightgrey !important;
  border-color: transparent !important;
  border-radius: 5px;
}

// Small tablets and smartphones landscape view
@media only screen and (min-width: 768px) {
  .alert {
    width: 50% !important;
  }
}
