.alert {
  position: fixed;
  top: 67px;
  right: .5%;
  z-index: 1000;
  width: 50%;

.alert-info {
  color: white !important;
  background-color: $nappies !important;
  border-color: transparent;
}
