.banner {
  background-color: white;
  width: cover;
  height: 100vh;
  position: relative;
  background-position-y: 45%;
  padding-top: 40vh;
}

.title {
  background-color: white;
  position: absolute;
  top: 35%;
  left: 5%;
  width: 50%;
  font-size: $f-lg * 2;
  font-weight: $heavy-fw;
  text-align: left;
  padding-left: 2%;
}
