.nappies-cards {
  display: grid;
  grid-template-columns: 300px;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  grid-gap: 36px;
  justify-content: space-evenly;
  justify-items: center;
  // row-gap: 1%;
}

.container-cards {
  padding-left: 20px;
  padding-right: 20px;
}

.nappies-card-box {
  width: 100%;
}

.nappies-card {
  width: 270px !important;
}

.card-image {
  object-fit: cover;
  border-radius: 5px;
}

.card-details {
  display: flex;
  margin-top: 0.5rem;
  will-change: auto;
}

.card-type {
  letter-spacing: 0.05rem;
  margin: 0;
  font-weight: $heavy-fw;
}

.card-name {
  letter-spacing: 0.05rem;
  margin: 0;
}

.card-facility {
  display: inline-flex;
  margin-left: auto;
}

.card-facility-icon {
  height: $f-lg;
  width: $f-lg;
  // background-color: $lightgrey;
  // border-radius: 50%;
}

// Small tablets and smartphones landscape view
@media only screen and (min-width: 768px) {
  .container-cards {
    padding-left: 32px;
    padding-right: 32px;
  }
}

// Tablets and small desktops
@media only screen and (min-width: 947px) {

}

// Large tablets and desktops
@media only screen and (min-width: 1220px) {
  .container-cards {
    padding-left: 72px;
    padding-right: 72px;
  }
}

// Large desktops
@media only screen and (min-width: 1968px) {

}
