.cards {
 display: grid;
}

.card {
  // background-color: white;
  // width: 100%;
  margin-bottom: 0rem !important;
  margin-bottom: 10%;
  will-change: auto;
  border: none;
}

.card-details {
  display: flex;
  margin-top: 0.2rem;
  will-change: auto;
  // margin-top: 5px;
  // position: relative;
}

.card-image {
  object-fit: cover;
}

.card-type {
  letter-spacing: 0.3px;
  width: 100%;
  margin: 0;
}

.card-name {
  letter-spacing: 0.05rem !important;
  width: 100%;
  margin: 0;
  font-weight: 700 !important;
  // letter-spacing: 0.3px;
}

.card-facility {
  display: inline-flex;
  flex-grow: 1;
}

.card-facility-icon {
  height: 1.15rem;
  width: 1.15rem;
  background-color: $lightgrey;
  border-radius: 50%;
}
