// FOOTER

.footer {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
  background-color: white;
  color: $darkgrey;
  justify-content: space-between;
  width: 100%;
  background-color: $s-lightgrey;
  padding-top: 20px;
  padding-bottom: 80px;
}

.footer-terms {
  margin: 1rem 0rem 2rem 0rem;
  flex-direction: column !important;
  justify-content: flex-start !important;
  align-items: center;
  width: 100%;
  display: flex;
}

.footer-links {
  display: flex;
  margin-bottom: $space-med;
}

.footer-links a {
  font-size: $f-med;
  color: $darkgrey;
  text-decoration: none;
  margin-right: 16px;
  margin-left: 0rem !important;
}

.footer-links a:hover {
  color: $darkgrey;
}

.cookies {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-bottom: $space-med;
}

.cookies div {
  margin-right: 16px;
}

.footer-copyright {
  display: flex;
  align-items: center;
}

.footer-copyright div {
  margin-bottom: 0px !important;
}

// COOKIES
.cookies-box {
  background-color: white;
  margin-top: 0px;
  padding-top: 112px;
  padding-bottom: 20px;
  width: 100%;
}

.cookies-box div {
  margin-bottom: $space-lg;
}

.cookies-box h1, .cookies-box h2 {
  margin-bottom: $space-sm;
}


.cookies-box li {
  // list-style: none;
  margin-left: 32px;
}

// Small tablets and smartphones landscape view
@media only screen and (min-width: 768px) {
  .footer {
    padding-left: 32px;
    padding-right: 32px;
  }
}

// // Tablets and small desktops
@media only screen and (min-width: 947px) {
  .footer {
    flex-direction: row-reverse;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .footer-links {
    margin-bottom: 0;
  }

  .cookies {
    flex-direction: row;
    margin-bottom: 0;
  }
}

// Large tablets and desktops
@media only screen and (min-width: 1220px) {
  .footer {
    padding-left: 72px;
    padding-right: 72px;
    // padding-top: 32px !important;
    // padding-bottom: 32px !important;
  }
}
