// FOOTER

.footer {
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
  align-items: center;
  background-color: white;
  color: $darkgrey;
  justify-content: space-between;
  // height: 20vh;
  width: 100%;
  background-color: $s-lightgrey;
  // margin-bottom: 60px;
  padding-bottom: 80px;
  padding-top: 20px;
}

.footer-copyright div {
  margin-bottom: 0px !important;
}

.footer-terms {
  margin: 1rem 0rem 2rem 0rem;
  flex-direction: column !important;
  justify-content: flex-start !important;
  align-items: center;
  width: 100%;
  display: flex;
}

.footer-links a {
  font-size: $f-med;
  color: $darkgrey;
  text-decoration: none;
  margin-right: 16px;
  margin-left: 0rem !important;
}

.footer-links a:hover {
  color: $darkgrey;
}

@media only screen and (min-width: 768px) {
  .footer {
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 32px !important;
    padding-top: 32px;
  }
}

// Large tablets and desktops
@media only screen and (min-width: 1220px) {
  .footer {
    padding-left: 72px;
    padding-right: 72px;
  }
}
