#map {
  position: sticky;
  object-fit: cover;
}

.map {
  top: 57px;
  width: 100%;
  height: 100vh
}

.mapboxgl-popup {
  // width: 25vh !important;
}

.mapboxgl-popup-content {
  position: relative;
  background: #fff;
  border-radius: 5px !important;
  box-shadow: none !important;
  padding: 0px !important;
  pointer-events: auto;
}

.mapboxgl-popup-close-button {
  font-size: 1.5rem !important;
  right: 8px !important;
  top: 5px !important;
}

.map-info{
  width: 14vw;
}

.map-image {
  width: 14vw;
  border-radius: 3px 3px 0px 0px;
}

.map-card-details {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  text-align: left;
}

.map-type {
  font-size: larger;
  width: 100%;
  margin-bottom: 0;
  margin-top: 4px;
}

.map-name {
  font-size: larger;
  font-weight: 700;
  width: 100%;
  margin-bottom: 4px;
}
