#map {
  // position: fixed;
}

.index-map {
  z-index: -1;
  width: 100vw;
  height: 90vh;
}

.map-info{
  width: 30%;
  // width: 14vw;
}

search-form-mobile {
  // width: 30vw;
  // width: 14vw;
  padding: 5%;
  height: 100vh;
  border-radius: 3px 3px 0px 0px;
}

.map-card-details {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  text-align: left;
}

.map-type {
  font-weight: 300 !important;
  width: 100%;
  margin-bottom: 0;
  margin-top: 4px;
}

.map-name {
  font-weight: 700 !important;
  font-weight: 700;
  width: 100%;
  margin-bottom: 4px;
}

.mapboxgl-popup-content {
  position: relative;
  background: #fff;
  border-radius: 5px !important;
  box-shadow: none !important;
  padding: 0px !important;
  pointer-events: auto;
}

.mapboxgl-popup-close-button {
  font-size: $f-med !important;
  right: 8px !important;
  top: 5px !important;
}
