@media only screen and (max-width: 575px) {

  // PLACES

  .index-container {
    display: flex;
    flex-direction:column-reverse;
    margin: 0rem !important;
    width: 100% !important;
    padding: 3.5rem 0.75rem 0rem 0.75rem !important;
  }

  .index-cards {
    width: 90% !important;
    margin: 0.4rem auto 0rem !important;
  }

  .sub-container {
    display: -webkit-box;
    display: flex;
    overflow-x: auto !important;
    flex-wrap: nowrap !important;
    margin: 0px;
  }

  .col-xs-12 {
    padding-right: 0.2rem !important;
    padding-left: 0.2rem !important;
    height: 100% !important;
  }

  .card {
    margin-bottom: 0rem !important;
    background-color: transparent;
    border: none;
    height: 100% !important;
    will-change: auto;
    margin-left: .2rem;
    margin-right: .2rem;
  }

  .card-image {
    width: 6.5rem !important;
    border-radius: 0.5rem;
    margin: 0;
    font-size: small;
  }

  .place-card-details {
   margin-top: 0.2rem;
   will-change: auto;
  }

  .card-type {
    letter-spacing: 0.3px;
    width: 100%;
    margin: 0;
  }

  .card-name {
    letter-spacing: 0.05rem !important;
    width: 100%;
    margin: 0;
  }

  .col-md-3 {
    max-width: min-content !important;
  }

  // MAP

  .index-map {
    margin-left: 0rem !important;
    margin-right: 0rem !important;
    width: 100vw !important;
    max-width: -webkit-fill-available;
    overflow-x: hidden !important;
  }

  .index-google-map {
    height: 50vh !important;
    width: 100% !important;
    top: 0rem !important;
    overflow-x: hidden !important;
  }

  .gm-style .gm-style-iw-c {
    padding: 0px !important;
    max-width: 30vw !important;
    max-height: fit-content !important;
    box-shadow: none !important;
    border-radius: 3px;
  }

  .gm-style .gm-style-iw {
    font-size: 14px !important;
    overflow: hidden;
  }

  .gm-style .gm-style-iw-d {
    overflow: hidden !important;
    max-width: 30vw !important;
    max-height: fit-content !important;
  }

  // .mapboxgl-popup {
  //   width: 30vw;
  // }

  .map-info{
    width: 30vw;
  }

  .map-image {
    width: 30vw;
  }

  .map-type {
    font-size: 14px !important;
  }

  .map-name {
    font-size: 14px !important;
  }

  // FOOTER

  .footer {
    display: flex;
    flex-direction: column-reverse !important;
    padding: 0px;
    padding: 1rem !important;
    align-items: left !important;
  }

  .footer-copyright {
    width: 100%;
  }

  .footer-terms {
    margin: 1rem 0rem 2rem 0rem;
    flex-direction: column !important;
    justify-content: flex-start !important;
    width: 100%;
  }

  .footer-terms p {
    margin-top: 1rem;
  }

  .footer-links {
    width: 100%;
    justify-content: flex-start !important;
  }

  .footer-links p {
    margin-right: 2rem;
    margin-left: 0rem !important;
  }
}

// max-width:100%;overflow:hidden;border:none;padding:0;margin:0 auto;display:block;
