
@media only screen and (max-width: 575px) {

  body {
    font-size: 14px !important;
  }

  .main-container {
    width: 100vw !important;
  }

  // HOME PAGE

  .banner {
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: top !important;
  }

  .title {
    width: 70% !important;
    font-size: 1.3rem !important;
    padding-left: 3%;
    padding-right: 3%;
  }

  // ALERT

  .alert {
        width: 97.7% !important;
  }

  // DEVISE

  .form-box {
    width: 100% !important;
    margin: 0px auto;
  }

  .account-page-form-box {
    width: 100% !important;
    margin: 0px auto;
  }

  .form-inputs-box {
    margin-bottom: 1rem !important;
  }

  .sign-submit {
    color: #9ac4c1;
    border: 5px solid;
    border-radius: 5px;
    width: 100%;
  }

  .sign-title{
    font-size: 1.5rem !important;
  }

  .account-submit {
    margin-bottom: 1rem;
  }
}
