@media(max-width: 868px) {
  .img-show {
    height: 30vh !important;
  }

  .show-details-box {
    display: flex;
    flex-direction: column;
    width: 90% !important;
    margin: 2rem auto !important;
    align-items: center;
  }

  .show-detail-box {
    width: inherit;
    margin-bottom: 0rem !important;
    position: unset !important;
  }

  .show-type {
    margin-bottom: 0rem !important ;
    letter-spacing: 0.1rem !important;
  }

  .show-title {
    letter-spacing: 0.05rem !important;
    margin-bottom: 0rem !important;
    line-height: 2rem !important;
  }

  .show-address {
    margin-bottom: 0rem !important;
    line-height: 2rem !important;
    letter-spacing: 0.1rem !important;
  }

  .show-google-map {
  width: 100%;
  height: 20rem !important;
  margin-top: 2rem !important;
  }

  .btn-get-direction {
  letter-spacing: 0.08rem !important;
  right: 24px !important;
}
}
