@media(max-width: 868px) {

  // PLACES

  .index-container {
    display: flex;
    flex-direction:column-reverse;
    margin: 0rem !important;
    width: 100% !important;
  }

  .index-cards {
    // height: 30vh !important;
    width: 100vw !important;
    margin: 0.4rem auto 0rem !important;
    height: 30vh !important;
  }

  .sub-container {
    margin-top: 0rem !important;
    display: flex;
    flex-direction: row;
    overflow-x: auto !important;
    flex-wrap: nowrap !important;
    height: 100% !important;
  }

  .col-xs-12 {
    padding-right: 0.2rem !important;
    padding-left: 0.2rem !important;
    height: 100% !important;
  }

  .card {
    margin-bottom: 0rem !important;
    background-color: transparent;
    border: none;
    height: 100% !important;
    will-change: auto;
  }

  .card-image {
    width: 6.3rem !important;
    border-radius: 0.5rem;
    margin: 0;
    font-size: small;
  }

  .place-card-details {
   margin-top: 0.2rem;
   will-change: auto;
  }

  .card-type {
    letter-spacing: 0.3px;
    width: 100%;
    margin: 0;
  }

  .card-name {
    letter-spacing: 0.05rem !important;
    font-weight: 700;
    width: 100%;
    margin: 0;
  }

  .col-md-3 {
    max-width: min-content !important;
  }

  // MAP

  .index-map {
    margin-left: 0rem !important;
    margin-right: 0rem !important;
    width: 100vw !important;
    max-width: -webkit-fill-available;
    overflow-x: hidden !important;
  }

  .map {
    height: 60vh !important;
    width: 100% !important;
    top: 0rem !important;
    overflow-x: hidden !important;
  }

  .map-image {
    height: 22vh;
  }

  .map-name {
    width: min-content;
    text-align: left;
    margin: 0px auto;
  }
}

// max-width:100%;overflow:hidden;border:none;padding:0;margin:0 auto;display:block;
