
@media only screen and (max-width: 575px) {

  body {
    font-size: 14px !important;
  }

  .main-container {
    width: 100vw !important;
  }

  // HOME PAGE

  .banner {
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: top !important;
  }

  .title {
    width: 70% !important;
    font-size: 1.3rem !important;
    padding-left: 3%;
    padding-right: 3%;
  }

  // ALERT

  .alert {
        width: 97.7% !important;
  }

  // NAVBAR

  .navbar {
    position: fixed !important;
    width: 100vw !important;
    overflow-x: hidden !important;
    padding: 0.5rem 0.75rem !important;
  }

  .navbar-lewagon {
    overflow-x: hidden !important;
    justify-content: unset !important;
    background-color: white;
    letter-spacing: 1px;
    border-bottom: 1px solid $lightgrey;
  }

  .navbar-nav {
    margin-top: 5px !important;
  }

  .navbar-toggler {
    margin-left: auto !important;
  }

  .navbar-lewagon {
    width: 40px;
  }

  .nav-link {
    letter-spacing: 1px;
    margin: 0px 3px;
  }

  .dropdown-menu-box {
   top: 45px;
  }

  .logo-text {
    display: none !important;
  }

  // SEARCH
  .search-desktop {
    display: none;
  }

  .search-mobile {
    display: content !important;
  }

  .search-button-mobile {
    border: none !important;
    height: 2.4rem;
    background-color:  transparent !important;
    font-size: 1.25rem;
    &:hover {
      color: $nappies;
    }
  }

  .modal-dialog {
    position: relative;
    width: 44vh;
    margin: 0.5rem;
    pointer-events: none;
  }

  .modal-backdrop {
    z-index: -1;
  }

  .search-box-mobile {
    display: flow-root;
    width: 100%;
    display: flex;
    flex-direction: column;;
  }

  .search-input-mobile {
    width: 100%;
    height: 2.4rem;
    padding: 0px 1.2rem;
    color: $black;
    border: 0.5px solid #F2F2F2 !important;
    border-radius: 5px;
    margin-right: 5px;
    margin-bottom: 16px;
  }

  .search-select-mobile {
    width: 100%;
    height: 2.4rem;
    padding: 0px 1.2rem;
    background-color:  transparent !important;
    border: 0.5px solid #F2F2F2 !important;
    border-radius: 5px !important;
    margin-right: 5px;
    margin-bottom: 16px;
  }

  .search-popup-footer {
    border-top: 0.5px solid #F2F2F2 !important;
    display: flex-inline;
    width: 100%;
    text-align-last: justify;
    padding-top: 16px;
  }

  .search-submit-mobile {
    border: 0.5px solid #F2F2F2 !important;
    height: 2.4rem;
    padding: 0px 1.2rem;
    background-color:  transparent !important;
    border-radius: 5px;
    // height: 50px;
    &:hover {
      color: $nappies;
    }
  }


  // DEVISE

  .form-box {
    width: 100% !important;
    margin: 0px auto;
  }

  .account-page-form-box {
    width: 100% !important;
    margin: 0px auto;
  }

  .form-inputs-box {
    margin-bottom: 1rem !important;
  }

  .sign-submit {
    color: #9ac4c1;
    border: 5px solid;
    border-radius: 5px;
    width: 100%;
  }

  .sign-title{
    font-size: 1.5rem !important;
  }

  .form-actions {
    display: flex;
    flex-direction: column;
  }

  .account-submit {
    margin-bottom: 1rem;
  }
}
