.navbar {
  position: fixed !important;
  z-index: 1030 !important;
  top: 0px;
  width: 100%;
  background-color: white;
}

.navbar-lewagon {
  padding: 10px 50px;
  justify-content: space-between;
  border-bottom: .5px solid $lightgrey;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-link {
  margin: 0px 3px;
  color: $black !important;
}

.logo-text {
  color: $nappies;
  font-weight: 700;
}

.dropdown-menu-box {
 top: 45px;
}

.logo-search {
  display: flex;
}

.dp-down-r {
  right: 16px;
}
