@media only screen and (max-width: 945px) {
  .navbar-desktop { display: none;}

  .search-desktop { display: none !important;}
}

@media only screen and (min-width: 947px) {
  .navbar-mobile {
    display: none !important;
  }

  .navbar-bottom {
    display: none !important;
  }

  .navbar-desktop {
    display: flex;
    height: 80px;
    position: fixed !important;
    z-index: 99 !important;
    top: 0px;
    width: 100%;
    padding: 0 32px;
    background-color: white;
    justify-content: space-between;
    border-bottom: $border-light;
    flex-grow: 0;
  }

  .logo-text {
    // font-size: $f-med;
    color: $nappies !important;
    font-weight: $heavy-fw !important;
    font-size: $f-med;
    &:hover {
      color: $nappies-light;
      text-decoration: none !important;
    }
  }

  .logo-desktop {
    display: flex;
    align-items: center;
  }

  .content-navbar {
    display: flex;
    align-items: center;
  }

  .content-left {
    margin-right: $space-lg;
  }

  .content-right {
    margin-left: $space-lg;
  }

  .search-icon {
    font-size: 20px;
  }
}

@media only screen and (min-width: 1220px) {
  .navbar-desktop {
    padding-left: 72px;
    padding-right: 72px;
  }
}
