.navbar-desktop {
  display: none;
}

.logo-desktop {
  display: none;
}

.navbar-mobile {
  display: flex;
  position: fixed !important;
  z-index: 2 !important;
  top: 0px;
  width: 100vw;
  height: 10vh;
  background-color: white;
  padding: 2%;
  justify-content: space-between;
  // height: 15vh;
  // flex-direction: column;
  // border-bottom: 5px solid #F2F2F2;
}

// DROPDOWN

.dropdown-mobile {
  flex-grow: 1;
}

.logo-navbar{
  margin-bottom: 0px;
  flex-grow: 1;
}

.logo-navbar-close {
  display: none;
  margin-right: auto;
  color: $black;
  font-size: 1.5rem;
  border: none !important;
  background-color: transparent !important;
  width: 2.5rem;
  height: 2.5rem;
  &:hover {
    border: 0.5px solid #F2F2F2 !important;
    border-radius: 50%;
    background-color: #F2F2F2 !important;
  }
}

.logo-mobile {
  width: 2.5rem;
  height: 2.5rem;
  &:hover {
    cursor: pointer;
  }
}

.dropdown-list {
  // width: 100vw 97.7%;
  display: none;
}

.dropdown-list ul li {
  list-style: none !important;
  margin-bottom: 16px;
  width: 100%;
  &:hover {
    cursor: pointer;
  }
}

.no-decor-dropdown {
  text-decoration: none;
  color: $black;
  &:hover {
    text-decoration: none;
    color: $nappies;
  }
}
