@media only screen and (max-width: 575px) {
  .navbar-desktop {
    display: none;
  }

  .logo-search {
    display: none;
  }

  .navbar-mobile {
    display: flex;
    position: fixed !important;
    z-index: 2 !important;
    top: 0px;
    width: 100vw;
    background-color: white;
    padding: 0.75rem;
    // flex-direction: column;
    // border-bottom: 0.5px solid #F2F2F2;
  }

  // DROPDOWN

  .dropdown-mobile {
    flex-grow: 1;
  }

  .logo-navbar{
    margin-bottom: 0px;
  }

  .logo-navbar-close {
    display: none;
  }

  .logo-mobile {
    width: 2.5rem;
    height: 2.5rem;
    &:hover {
      cursor: pointer;
    }
  }

  .dropdown-list {
    // width: 100vw 97.7%;
    display: none;
  }

  .dropdown-list ul li {
    list-style: none !important;
    margin-bottom: 16px;
    width: 100%;
    &:hover {
      cursor: pointer;
    }
  }

  .no-decor-dropdown {
    text-decoration: none;
    color: $black;
    &:hover {
      text-decoration: none;
      color: $nappies;
    }
  }
}
