.navbar-bottom {
  position: absolute;
  z-index: 99;
}

.navbar-bottom-box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  height: 60px;
  width: 100%;
  bottom: 0%;
  z-index: 1;
  position: fixed;
  background-color: white;
  align-items: center;
  justify-items: center;
  border: $border-light;
}

.navbar-icon {
  height: 40px;
}
