.index-container {
  width: 100%;
  display: flex;
  padding: 100px 30px 0px 30px;
  background-color: white;
}

.link {
  text-decoration: none !important;
  color: inherit;
}

.link:hover {
  color: $nappies-dark;
}
