
.show-images {
  display: flex;
  overflow: auto;
  white-space: nowrap;
  width: 100vw;
  overflow-x: auto;
  margin-top: 60px;
}

.show-img {
  height: 50vh;
}

.show-details-box {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 50px auto;
}

.show-detail-box {
  position: relative;
  display: flex;
  flex-direction: column;
  // margin-bottom: 50px;
}

.show-type {
  margin-bottom: 0px;
  line-height: 2.5rem;
}

.show-title {
  letter-spacing: 0.05rem;
  margin-bottom: 0px;
  line-height: 2.5rem;
}

.show-address {
  margin-bottom: 0px;
  line-height: 2.5rem;
  color: $darkgrey;
}

.show-google-map {
  margin-top: 30px;
  width: 100%;
  height: 500px;
}

.admin-authorize {
  display: inherit;
}

.show-facility {
  display: inherit;
  // height: 3rem;
}

.facility-details {
  display: inherit;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
}

.facility-image {
  height: 3rem;
}

.facility-name {
  padding-right: 1.5rem;
  margin: auto 0px;
  line-height: 2.5rem;
}

.facility-none {
  display: none;
}

.diaper {
  background-image: 'https://www.flickr.com/photos/187855440@N04/49753117157/in/dateposted-public/'
}

.toy {
  background-image: 'https://www.flickr.com/photos/187855440@N04/49753115677/in/dateposted-public/'
}

.high-chair {
  background-image: 'https://www.flickr.com/photos/187855440@N04/49752786276/in/dateposted-public/'
}

.play-area {
  background-image: 'https://www.flickr.com/photos/187855440@N04/49753117127/in/dateposted-public/'
}
