.search-mobile {
}

.search-button-navbar {
  display: flex;
  height: 60px;
  align-items: center;
  padding-right: 20px;
  padding-left: 0.5px;
  color: $darkgrey;
  font-size: $f-med;
  border: none !important;
  background-color: transparent !important;
}

.search-button-x {
  display: none;
  padding-right: 20px;
  height: 58px;
  align-items: center;
  margin-left: auto;
  color: $darkgrey;
  font-size: $f-med;
  border: none !important;
  background-color: transparent !important;
}

.search-form-mobile {
  display: none;
  background-color: white;
  padding-top: $space-med;
  padding-right: 20px;
  padding-left: 20px;
  width: 100%;
  height: 100vh;
}

@media only screen and (min-width: 768px) {
  .search-form-mobile {
    padding-top: 100px;
    padding-left: 20%;
    padding-right: 20%;
  }
}

// Large tablets and desktops
@media only screen and (min-width: 1220px) {
  .search-form-mobile {
    padding-top: 150px;
    padding-left: 30%;
    padding-right: 30%;
  }
}


.search-input-mobile {
  width: 100%;
  height: 3rem;
  padding: 0px 1.2rem;
  color: $darkgrey;
  border: $border-light;
  border-radius: 5px;
  margin-bottom: 16px;
}

input {
  font-family: "Roboto", "Helvetica", "sans-serif" !important;
  font-weight: 300 !important;
  line-height: 1.5 !important;
  color: #000 !important;
  letter-spacing: 0.05rem !important;
}

.search-select-mobile {
  width: 100%;
  height: 3rem;
  padding: 0px 1.2rem;
  background-color:  transparent !important;
  border: 0.5px solid #F2F2F2 !important;
  border-radius: 5px !important;
  margin-right: 5px;
  margin-bottom: 16px;
}

.search-popup-footer {
  display: flex-inline;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.search-submit-navbar {
  color: white;
  height: 3rem;
  padding: 0px 1.2rem;
  border: 0.5px solid $nappies !important;
  letter-spacing: 0.15rem;
  background-color: $nappies !important;
  border-radius: 5px;
  &:hover {
    color: $nappies;
    background-color: transparent !important;
  }
}
