.form-box {
  width: 30%;
  margin: 100px auto;
  color: $black;
}

.form-group {
  margin-bottom: 1rem;
}

.form-control:focus {
  box-shadow: none !important;
  border-color: $nappies;
  color: $black;
}

.form-control {
  border: 1px solid $lightgrey;
  border-radius: 3px;
  color: $black !important;
}

.form-control.is-valid {
  border-color: $lightgrey;
  background-image: none !important;
  color: $black !important;
}

.form-control.is-valid:focus {
  border-color: $nappies !important;
  box-shadow: none !important;
}

.sign-title {
  margin-bottom: 1.5rem;
  line-height: 3;
  font-weight: 800;
}

.sign-submit {
  border: 1px solid;
  border-radius: 3px;
  width: 100%;
  font-weight: 700;
  color: white;
  background-color: $nappies;
  border-color: $nappies;
}

.sign-submit:hover {
  color: $nappies;
  background-color: white;
}

.form-actions {
  margin-bottom: 3rem;
  display: flex;

}

.sign-label {
  margin-bottom: 0px;
}

label{
  margin-bottom: 0rem !important;
}

.form-facility-box {
  border: 1px solid #F2F2F2;
  border-radius: 3px;
  color: #000 !important;
  padding-left: 0.5rem;
}
