<div class="map-info-images">
  <%= link_to place_path(place), class:"link", :action => 'go' do %>
    <% if place.photo1.attached? %>
      <%= cl_image_tag place.photo1.key, class: 'map-image' %>
    <% else %>
      <%= image_tag "place-icon.png", class: 'map-image' %>
    <% end %>
    <p class="map-name"><%= place.name %></p>
  <% end %>
</div>

