<div class="main-container">
  <div class="form-box">
    <h3 class="sign-title">Update Place</h3>
      <%= render 'form', place: @place %>
  </div>
</div>

<%= link_to 'Show', @place, :class => 'no-decor-color' %> |
<%= link_to 'Back', places_path, :class => 'no-decor-color' %>
