<div class="main-container">
  <div class="index-container">
    <div class="index-cards">
      <div class="sub-container">
        <% @places.each do |place| %>
          <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="card">
              <%= link_to place_path(place), class:"link", :action => 'go' do %>
                <div class="show-images">
                  <%= cl_image_tag place.photo1.key, class: 'card-image' %>
                </div>
                <div class="place-card-details">
                  <p class="card-name"><%= place.name %></p>
                  <%# if policy(place).edit? %>
                    <p><%#= link_to 'Edit', edit_place_path(place), :class => 'no-decor-color' %></p>
                  <%# end %>
                  <%# if policy(place).destroy? %>
                    <p><%#= link_to 'Destroy', place, method: :delete, :class => 'no-decor-color', data: { confirm: 'Are you sure?' } %></p>
                  <%# end %>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="index-map">
      <%= render 'shared/map' %>
    </div>
  </div>
</div>
