<div class="main-container">
  <div class="index-container">
    <div class="index-cards">
      <%= render 'shared/places_cards' %>
    </div>
    <!-- <div class="index-map"> -->
      <%#= render 'shared/map' %>
    <!-- </div> -->
  </div>
</div>











